In [156]:
from bs4 import BeautifulSoup
import requests
import re
import pandas as pd
import numpy as np

In [157]:
seasons = ['Borneo', 'The Australian Outback', 'Africa', 'Marquesas', 'Thailand', 'The Amazon', 
           'Pearl Islands', 'All-Stars', 'Vanuatu', 'Palau', 'Guatemala', 'Panama', 
           'Cook Islands', 'Fiji', 'China', 'Micronesia', 'Gabon', 'Tocantins', 'Samoa', 
           'Heroes vs. Villains', 'Nicaragua', 'Redemption Island', 'South Pacific',
           'One World', 'Philippines', 'Caramoan', 'Blood vs. Water', 'Cagayan', 'San Juan del Sur',
           'Worlds Apart', 'Cambodia', 'Kaôh Rōng', 'Millennials vs. Gen X',
           'Game Changers', 'Heroes vs. Healers vs. Hustlers', 'Ghost Island','David vs. Goliath']

west = ['WA', 'OR', 'CA', 'NV', 'ID', 'MT', 'WY', 'UT', 'CO', 'AZ', 'NM']
midwest = ['ND', 'SD', 'NE', 'KS', 'MN', 'IA', 'MO', 'WI', 'IL', 'IN', 'MI', 'OH']
south = ['OK', 'TX', 'AR', 'LA', 'MS', 'AL', 'TN', 'KY', 'WV', 'DC', 'MD', 'DE', 'VA', 'NC', 'SC', 'GA', 'FL']
northeast = ['PA', 'NY', 'VT', 'NH', 'ME', 'MA', 'CT', 'RI', 'NJ']

eastcoast = ['ME', 'NH', 'MA', 'RI', 'CT', 'NY', 'NJ', 'DE', 'ML', 'VA', 'NC', 'SC', 'GA', 'FL']
westcoast = ['CA', 'OR', 'WA']

In [158]:
ca = pd.read_csv('castaways.csv')

def createid(row):
    return str(row['ID']).zfill(4)

ca['ID'] = ca.apply(createid,axis=1)
ca.set_index('ID',inplace=True)
ca.sort_values(['season_number','place'], ascending=[True, False],inplace=True)
ca

,name,age,gender,state,season,place,days_survived,votes_against,place_percent,time_playing,total_times_played,players_in_season,season_number,is_censored
ID,,,,,,,,,,,,,,
0116,Sonja Christopher,63,Female,CA,Borneo,16,3,4,0.0625,1,1,16,1,0
0115,B.B. Andersen,64,Male,KS,Borneo,15,6,6,0.1250,1,1,16,1,0
0114,Stacey Stillman,27,Female,CA,Borneo,14,9,6,0.1875,1,1,16,1,0
0113,Ramona Gray,29,Female,NJ,Borneo,13,12,6,0.2500,1,1,16,1,0
0112,Dirk Been,23,Male,WI,Borneo,12,15,4,0.3125,1,1,16,1,0
0111,Joel Klug,27,Male,AR,Borneo,11,18,4,0.3750,1,1,16,1,0
0110,Gretchen Cordy,38,Female,TN,Borneo,10,21,4,0.4375,1,1,16,1,0
0109,Greg Buis,24,Male,CO,Borneo,9,24,6,0.5000,1,1,16,1,0
0108,Jenna Lewis,22,Female,NH,Borneo,8,27,11,0.5625,1,2,16,1,0
0107,Gervase Peterson,30,Male,NJ,Borneo,7,30,6,0.6250,1,2,16,1,0
0106,Colleen Haskell,23,Female,FL,Borneo,6,33,7,0.6875,1,1,16,1,0
0105,Sean Kenniff,30,Male,NY,Borneo,5,36,9,0.7500,1,1,16,1,0
0104,Susan Hawk,38,Female,WI,Borneo,4,37,7,0.8125,1,2,16,1,0
0103,Rudy Boesch,72,Male,VA,Borneo,3,38,8,0.8750,1,2,16,1,0
0102,Kelly Wiglesworth,22,Female,NV,Borneo,2,39,0,0.9375,1,2,16,1,1
0101,Richard Hatch,39,Male,RI,Borneo,1,39,6,1.0000,1,2,16,1,1
0216,Debb Eaton,45,Female,NH,The Australian Outback,16,3,7,0.0625,1,1,16,2,0
0215,Kel Gleason,32,Male,TX,The Australian Outback,15,6,7,0.1250,1,1,16,2,0
0214,Maralyn Hershey,51,Female,VA,The Australian Outback,14,9,5,0.1875,1,1,16,2,0
0213,Mitchell Olson,23,Male,NJ,The Australian Outback,13,12,6,0.2500,1,1,16,2,0
0212,Kimmi Kappenberg,27,Female,NY,The Australian Outback,12,15,6,0.3125,1,2,16,2,0
0211,Michael Skupin,38,Male,MI,The Australian Outback,11,17,0,0.3750,1,2,16,2,1
0210,Jeff Varner,34,Male,NY,The Australian Outback,10,21,11,0.4375,1,3,16,2,0
0209,Alicia Calaway,32,Female,NY,The Australian Outback,9,24,5,0.5000,1,2,16,2,0
0208,Jerri Manthey,30,Female,CA,The Australian Outback,8,27,12,0.5625,1,3,16,2,0
0207,Nick Brown,23,Male,WA,The Australian Outback,7,30,4,0.6250,1,1,16,2,0
0206,Amber Brkich,22,Female,PA,The Australian Outback,6,33,6,0.6875,1,2,16,2,0
0205,Rodger Bingham,53,Male,KY,The Australian Outback,5,36,5,0.7500,1,1,16,2,0
0204,Elisabeth Filarski,23,Female,MA,The Australian Outback,4,39,5,0.8125,1,1,16,2,0
0203,Keith Famie,40,Male,MI,The Australian Outback,3,41,10,0.8750,1,1,16,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3610,Jenna Bowman,23,Female,CA,Ghost Island,10,29,3,0.5500,1,1,20,36,0
3609,Michael Yerger,18,Male,CA,Ghost Island,9,29,15,0.6000,1,1,20,36,0
3608,Chelsea Townsend,25,Female,CA,Ghost Island,8,32,5,0.6500,1,1,20,36,0
3607,Kellyn Bechtold,31,Female,CO,Ghost Island,7,35,8,0.7000,1,1,20,36,0
3606,Sebastian Noel,22,Male,FL,Ghost Island,6,36,5,0.7500,1,1,20,36,0
3605,Donathan Hurley,26,Male,KY,Ghost Island,5,37,11,0.8000,1,1,20,36,0
3604,Angela Perkins,42,Female,OH,Ghost Island,4,38,3,0.8500,1,1,20,36,1
3603,Laurel Johnson,29,Female,MN,Ghost Island,3,39,3,0.9000,1,1,20,36,1
3602,Domenick Abbate,38,Male,NY,Ghost Island,2,39,2,0.9500,1,1,20,36,1
3601,Wendell Holland,33,Male,PA,Ghost Island,1,39,5,1.0000,1,1,20,36,1
3720,Pat Cusack,40,Male,NY,David vs. Goliath,20,3,0,0.0500,1,1,20,37,1
3719,Jessica Peet,19,Female,FL,David vs. Goliath,19,6,5,0.1000,1,1,20,37,0
3718,Jeremy Crawford,40,Male,NY,David vs. Goliath,18,9,9,0.1500,1,1,20,37,0
3717,Bi Nguyen,28,Female,TX,David vs. Goliath,17,10,0,0.2000,1,1,20,37,1
3716,Natalia Azoqa,25,Female,CA,David vs. Goliath,16,11,3,0.2500,1,1,20,37,0
3715,Natalie Cole,57,Female,CA,David vs. Goliath,15,15,4,0.3000,1,1,20,37,0
3714,Lyrsa Torres,36,Female,MA,David vs. Goliath,14,17,9,0.3500,1,1,20,37,0
3713,Elizabeth Olson,31,Female,TX,David vs. Goliath,13,20,13,0.4000,1,1,20,37,0
3712,John Hennigan,38,Male,CA,David vs. Goliath,12,22,3,0.4500,1,1,20,37,0
3711,Dan Rengering,27,Male,FL,David vs. Goliath,11,25,6,0.5000,1,1,20,37,0
3710,Alec Merlino,24,Male,CA,David vs. Goliath,10,28,9,0.5500,1,1,20,37,0
3709,Carl Boudreaux,41,Male,TX,David vs. Goliath,9,30,6,0.6000,1,1,20,37,0
3708,Gabby Pascuzzi,25,Female,CO,David vs. Goliath,8,32,2,0.6500,1,1,20,37,0
3707,Christian Hubicki,32,Male,FL,David vs. Goliath,7,35,18,0.7000,1,1,20,37,0
3706,Davie Rickenbacker,30,Male,GA,David vs. Goliath,6,36,7,0.7500,1,1,20,37,0
3705,Alison Raybould,28,Female,NC,David vs. Goliath,5,37,13,0.8000,1,1,20,37,0
3704,Kara Kay,30,Female,CA,David vs. Goliath,4,38,0,0.8500,1,1,20,37,1
3703,Angelina Keeley,28,Female,CA,David vs. Goliath,3,39,6,0.9000,1,1,20,37,1
3702,Mike White,47,Male,CA,David vs. Goliath,2,39,1,0.9500,1,1,20,37,1
3701,Nick Wilson,27,Male,KY,David vs. Goliath,1,39,0,1.0000,1,1,20,37,1

In [159]:
def map_state_to_region(state):
    if state in west:
        return 'West'
    elif state in midwest:
        return 'Midwest'
    elif state in south:
        return 'South'
    elif state in northeast:
        return 'Northeast'
    else:
        return 'NULL'
    
def map_state_to_coast(state):
    if state in eastcoast:
        return 'East Coast'
    elif state in westcoast:
        return 'West Coast'
    else:
        return 'Not Coast'
    
def map_season_to_school(season):
    if season in seasons[:18]:
        return 'Old School'
    else:
        return 'New School'
    
def map_age_group(age):
    if age <= 35:
        return 'Young'
    elif age <= 50:
        return 'Middle'
    else:
        return 'Old'

In [160]:
ca['region'] = ca['state'].map(map_state_to_region)
ca['coast'] = ca['state'].map(map_state_to_coast)
ca['school'] = ca['season'].map(map_season_to_school)
ca['agegroup'] = ca['age'].map(map_age_group)

In [161]:
ca['region'].value_counts()

West         252
South        200
Northeast    143
Midwest       78
Name: region, dtype: int64

In [162]:
test = ca.groupby(['region'])['place_percent'].mean()
for x in range(len(test)):
    treatments.append([test.index[x],test[x]])
test

region
Midwest      0.569770
Northeast    0.544716
South        0.498559
West         0.527338
Name: place_percent, dtype: float64

In [163]:
ca['coast'].value_counts()

Not Coast     249
East Coast    215
West Coast    209
Name: coast, dtype: int64

In [164]:
test = ca.groupby(['coast'])['place_percent'].mean()
for x in range(len(test)):
    treatments.append([test.index[x],test[x]])
test

coast
East Coast    0.527790
Not Coast     0.533782
West Coast    0.519383
Name: place_percent, dtype: float64

In [165]:
ca['school'].value_counts()

New School    362
Old School    311
Name: school, dtype: int64

In [166]:
test = ca.groupby(['school'])['place_percent'].mean()
for x in range(len(test)):
    treatments.append([test.index[x],test[x]])
test

school
New School    0.526243
Old School    0.528738
Name: place_percent, dtype: float64

In [167]:
ca['agegroup'].value_counts()

Young     445
Middle    177
Old        51
Name: agegroup, dtype: int64

In [168]:
test = ca.groupby(['agegroup'])['place_percent'].mean()
for x in range(len(test)):
    treatments.append([test.index[x],test[x]])
test

agegroup
Middle    0.518908
Old       0.526759
Young     0.530845
Name: place_percent, dtype: float64

In [169]:
ca['gender'].value_counts()

Male      338
Female    335
Name: gender, dtype: int64

In [170]:
treatments = []
test = ca.groupby(['gender'])['place_percent'].mean()
for x in range(len(test)):
    treatments.append([test.index[x],test[x]])
test

gender
Female    0.509743
Male      0.544893
Name: place_percent, dtype: float64

In [171]:
test = ca.groupby(['gender','agegroup'])['place_percent'].mean()
for x in range(len(test)):
    treatments.append([test.index[x],test[x]])
test

gender  agegroup
Female  Middle      0.508553
        Old         0.493726
        Young       0.511434
Male    Middle      0.528694
        Old         0.544777
        Young       0.551799
Name: place_percent, dtype: float64

In [172]:
test = ca.groupby(['gender','region'])['place_percent'].mean()
for x in range(len(test)):
    treatments.append([test.index[x],test[x]])
test

gender  region
Female  Midwest      0.553437
        Northeast    0.535050
        South        0.482048
        West         0.501754
Male    Midwest      0.588824
        Northeast    0.554519
        South        0.513800
        West         0.552519
Name: place_percent, dtype: float64

In [173]:
test = ca.groupby(['gender','school'])['place_percent'].mean()
for x in range(len(test)):
    treatments.append([test.index[x],test[x]])
test

gender  school
Female  New School    0.499753
        Old School    0.521344
Male    New School    0.552442
        Old School    0.536085
Name: place_percent, dtype: float64

In [174]:
test = ca.groupby(['agegroup','school'])['place_percent'].mean()
for x in range(len(test)):
    treatments.append([test.index[x],test[x]])
test

agegroup  school
Middle    New School    0.514542
          Old School    0.524845
Old       New School    0.575000
          Old School    0.476588
Young     New School    0.525926
          Old School    0.536301
Name: place_percent, dtype: float64

In [175]:
test = ca.groupby(['agegroup','region'])['place_percent'].mean()
for x in range(len(test)):
    treatments.append([test.index[x],test[x]])
test

agegroup  region
Middle    Midwest      0.590931
          Northeast    0.502691
          South        0.473512
          West         0.533563
Old       Midwest      0.424342
          Northeast    0.573214
          South        0.640764
          West         0.417328
Young     Midwest      0.562862
          Northeast    0.565372
          South        0.486414
          West         0.538227
Name: place_percent, dtype: float64

In [176]:
test = ca.groupby(['region','school'])['place_percent'].mean()
for x in range(len(test)):
    treatments.append([test.index[x],test[x]])
test

region     school
Midwest    New School    0.566190
           Old School    0.572683
Northeast  New School    0.509357
           Old School    0.584826
South      New School    0.515942
           Old School    0.475041
West       New School    0.534109
           Old School    0.519399
Name: place_percent, dtype: float64

In [177]:
dtrt = pd.DataFrame(treatments)
dtrt.rename(index=str, columns={0: "Treatment", 1: "Placement_Percentage"},inplace=True)
dtrt.sort_values(by=['Placement_Percentage'],ascending=False,inplace=True)
dtrt

                  Treatment  Placement_Percentage
32             (Old, South)              0.640764
26        (Middle, Midwest)              0.590931
12          (Male, Midwest)              0.588824
41  (Northeast, Old School)              0.584826
22        (Old, New School)              0.575000
31         (Old, Northeast)              0.573214
39    (Midwest, Old School)              0.572683
38    (Midwest, New School)              0.566190
35       (Young, Northeast)              0.565372
34         (Young, Midwest)              0.562862
13        (Male, Northeast)              0.554519
8         (Female, Midwest)              0.553437
15             (Male, West)              0.552519
18       (Male, New School)              0.552442
7             (Male, Young)              0.551799
1                      Male              0.544893
6               (Male, Old)              0.544777
37            (Young, West)              0.538227
25      (Young, Old School)              0.536301
19       (Male, Old School)              0.536085
9       (Female, Northeast)              0.535050
44       (West, New School)              0.534109
29           (Middle, West)              0.533563
5            (Male, Middle)              0.528694
24      (Young, New School)              0.525926
21     (Middle, Old School)              0.524845
17     (Female, Old School)              0.521344
45       (West, Old School)              0.519399
42      (South, New School)              0.515942
20     (Middle, New School)              0.514542
14            (Male, South)              0.513800
4           (Female, Young)              0.511434
0                    Female              0.509743
40  (Northeast, New School)              0.509357
2          (Female, Middle)              0.508553
27      (Middle, Northeast)              0.502691
11           (Female, West)              0.501754
16     (Female, New School)              0.499753
3             (Female, Old)              0.493726
36           (Young, South)              0.486414
10          (Female, South)              0.482048
23        (Old, Old School)              0.476588
43      (South, Old School)              0.475041
28          (Middle, South)              0.473512
30           (Old, Midwest)              0.424342
33              (Old, West)              0.417328

In [183]:
qtreat = []
count = 0
test = ca.groupby(['region','school','gender','agegroup'])['place_percent'].mean()
test2 = ca.groupby(['region','school','gender','agegroup']).size()
for x in range(len(test)):
    qtreat.append([test.index[x],test[x],test2[x]])
    count += test2[x]
qtrt = pd.DataFrame(qtreat)
qtrt.rename(index=str, columns={0: "Treatment", 1: "Placement_Percentage", 2:"Count"},inplace=True)
qtrt.sort_values(by=['Count'],ascending=False,inplace=True)
#Placement_Percentage
qtrt

                                  Treatment  Placement_Percentage  Count
36        (West, New School, Female, Young)              0.514931     48
45          (West, Old School, Male, Young)              0.541048     47
42        (West, Old School, Female, Young)              0.523697     47
39          (West, New School, Male, Young)              0.575309     45
24       (South, New School, Female, Young)              0.469648     41
27         (South, New School, Male, Young)              0.529012     36
33         (South, Old School, Male, Young)              0.484542     28
18   (Northeast, Old School, Female, Young)              0.598333     25
30       (South, Old School, Female, Young)              0.453344     24
12   (Northeast, New School, Female, Young)              0.515509     24
21     (Northeast, Old School, Male, Young)              0.590833     20
15     (Northeast, New School, Male, Young)              0.558187     19
34       (West, New School, Female, Middle)              0.460802     18
13    (Northeast, New School, Male, Middle)              0.482407     18
25        (South, New School, Male, Middle)              0.493210     18
28      (South, Old School, Female, Middle)              0.418588     14
37         (West, New School, Male, Middle)              0.597436     13
10  (Northeast, New School, Female, Middle)              0.454167     12
1      (Midwest, New School, Female, Young)              0.466204     12
9        (Midwest, Old School, Male, Young)              0.614408     10
31        (South, Old School, Male, Middle)              0.463333     10
7       (Midwest, Old School, Male, Middle)              0.642361     10
19    (Northeast, Old School, Male, Middle)              0.579028     10
6      (Midwest, Old School, Female, Young)              0.574993     10
4     (Midwest, Old School, Female, Middle)              0.503472     10
38            (West, New School, Male, Old)              0.599383      9
0     (Midwest, New School, Female, Middle)              0.658642      9
3        (Midwest, New School, Male, Young)              0.620988      9
22      (South, New School, Female, Middle)              0.530864      9
26           (South, New School, Male, Old)              0.611111      8
16  (Northeast, Old School, Female, Middle)              0.525694      8
43         (West, Old School, Male, Middle)              0.461508      7
44            (West, Old School, Male, Old)              0.410027      6
40       (West, Old School, Female, Middle)              0.697515      6
29         (South, Old School, Female, Old)              0.602778      5
2       (Midwest, New School, Male, Middle)              0.541111      5
32           (South, Old School, Male, Old)              0.605903      4
41          (West, Old School, Female, Old)              0.110502      3
23         (South, New School, Female, Old)              0.829630      3
35          (West, New School, Female, Old)              0.192593      3
8          (Midwest, Old School, Male, Old)              0.167763      2
14       (Northeast, New School, Male, Old)              0.550000      2
17     (Northeast, Old School, Female, Old)              0.518750      2
20       (Northeast, Old School, Male, Old)              0.687500      2
5        (Midwest, Old School, Female, Old)              0.937500      1
11     (Northeast, New School, Female, Old)              0.500000      1